body {
	font-family: Gill Sans, Verdana, Helvetica, sans-serif;
	font-size: 14pt;
	margin: 0 auto;
	background: lightblue;
	text-align:center;
	color: black;
	}
	
h1.title {
	font-family: chiller;
	font-size: 36pt;
	font-variant: small-caps;
	font-weight: bold;
	text-align:center;
	margin-top: 15px;
	margin-bottom: 0px; 
	}
	
#main {background:#E0FFFF; width:520px; margin:auto; padding:20px; text-align:center; }